<!DOCTYPE html>
<html>
<head>
  <title>pyFahViewer</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
</head>
<body>
  <template id="leader-template">
    <table class="leader">
      <tr class="head-row">
        <th>Donor</th>
        <th>Score</th>
        <th>WUs</th>
      </tr>
    </table>
  </template>
  <template id="slot-template">
    <div class="slot">
      <div class="text-content">
        <div class="slot-title"></div>
        <div class="slot-server"></div>
        <div class="slot-state"></div>
        <div class="slot-progress"></div>
      </div>
      <div class="progress-bar">
        <div class="progress-inner"></div>
      </div>
    </div>
  </template>
  <main>
    <div class="leaderboard-section">
      <div class="leader-header">
        <div id="team-name"></div>
        <div id="team-rank"></div>
      </div>
      <div id="leaderboard" class="leaderboard-container">
      </div>
    </div>
    <div class="slot-section" id="slots"></div>
  </main>
</body>
</html>
